div.container {
    float: left;
    width: 130px;
    /* text-align: center; */
    margin: 3px 5px 5px 5px;
    border: 1px solid #f0f0f0;
}

div.heading {
    color: #666;
    font: 8pt sans-serif;
    background-color: #f5f5f5;
    padding: 2px;
}

div.isdown {
    background-image: url("/images/up.png?dfs");
    background-repeat: no-repeat;
    background-position: right center;
}


div.isup {
    background-image: url("/images/down.png");
    background-repeat: no-repeat;
    background-position: right center;
}

div.heading:HOVER {
	cursor: pointer;
}

div.section {
    margin: 5px;
}

div.item {
    float: left;
    clear: left;
    margin-bottom: 1px;
}

div.item button {
    margin-top: 1px;
    height: 25px;
    width: 25px;
}


div.item input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 4em;
    text-align: center;
}

div.item label {
    display: inline-block;
    width: 35px;
    text-align: right;
    font: 10pt sans-serif ;
}

div.item label.units {
	display: inline-block;
	text-align: left;
	width: auto;
}

div.butt {
    width: 100%;
    text-align: right;
}

div.opts {
    width: 100%;
    text-align: right;
    font: 8pt sans-serif;
}

div.opts span {
    margin-left: 4px;
}

div.opts span.qdaq:HOVER {
	cursor: pointer;
}

div.opts span.sa:HOVER {
	cursor: pointer;
}

div.opts span.save:HOVER {
	cursor: pointer;
}

div.item .connected {
    color: rgb(18, 146, 11);
}

div.item .disconnected {
    color: rgb(165, 51, 51);
}

div.item .off {
    color: #666;
}



.note {
    font: 8pt sans-serif;
    color: #888;
}

div.clear {
    clear: both;
}

#status {
    float: left;
    clear: left;
    font: 8pt sans-serif;
    color: #666;
    margin-bottom: 0;
}

#shutdown {
    float: right;
    text-align: center;

	width: 16px;
	height: 16px;
	background-image: url("/images/close.png");
	z-index: 100;
}

#shutdown:HOVER {
	cursor: pointer;
	background-position: 0 -16px;
}

#shutdown:ACTIVE {
	cursor: pointer;
	background-position: 0 -32px;
}

.hidopts {
    display: none;
    position: absolute;
    border: 1px solid #a0a0a0;
    padding: 4px;
    background: white;
}

.hidopts input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 6em;
    text-align: center;
}

.hidopts label {
    font: 10pt sans-serif;
}

div.construction {
    font: 10pt sans-serif;
    color: #666;
    font-style: italic;
}

div#ident {
    font-size: 10pt;
    margin: 2px 0 6px 0;
    width: 100%;
    text-align: center;
}

div#ident.disconnected {
    color: rgb(165, 51, 51);
    font-family: sans-serif;
}

div.item span.power {
    display: inline-block;
    width: 35px;
    text-align: center;
    font: 10pt sans-serif ;
}

div.item span.power:HOVER {
	cursor: pointer;
}

div.break {
    height: 1px;
    float: none;
    margin: 5px 10px 2px 10px;
    background-color: #f0f0f0;
}


